{
  "extends": ["plugin:jsdoc/recommended"],
  "env": {
    "amd": true,
    "browser": true,
    "es6": true,
    "node": true,
    "mocha": true
  },
  "globals": {
    "DocumentTouch": true,
    "Modernizr": true,
    "requirejs": true,
    "expect": true,
    "$": true,
    "_": true
  },
  "plugins": [
    "jsdoc"
  ],
  "rules": {
    "comma-dangle": "error",
    "comma-style": ["error", "last"],
    "curly": "error",
    "indent": ["error", 2, { "SwitchCase": 1 }],
    "no-caller": "error",
    "no-cond-assign": ["error", "except-parens"],
    "no-eq-null": "error",
    "no-eval": "error",
    "no-multi-spaces": ["error", { "ignoreEOLComments": true }],
    "no-multiple-empty-lines": ["error", { "max": 1, "maxEOF": 1 }],
    "no-restricted-syntax": ["error",
      {
        "selector": "CallExpression[callee.name='getComputedStyle']",
        "message": "Do not use `getComputedStyle`, import and use the `computedStyle` helper"
      }
    ],
    "no-undef": "error",
    "no-unused-expressions": "error",
    "no-unused-vars": "error",
    "quotes": ["error", "single"],
    "semi": "error",
    "valid-jsdoc": "error",
    "jsdoc/check-tag-names": ["error", { "definedTags": ["memberOf", "optionName", "optionProp"] }],
    "jsdoc/require-jsdoc": "off"
  }
}
