{
  "env": {
    "browser": true,
    "node": true,
    "mocha": true,
    "es6": true,
    "amd": true
  },
  "globals": {
    "DocumentTouch": true,
    "Modernizr": true,
    "requirejs": true,
    "expect": true,
    "$": true,
    "_": true
  },
  "plugins": [
    "jsdoc"
  ],
  "rules": {
    "indent": [
      2,
      2,
      {
        "SwitchCase": 1
      }
    ],
    "quotes": [
      "error",
      "single"
    ],
    "curly": "error",
    "wrap-iife": "off",
    "no-caller": "error",
    "no-cond-assign": [
      "error",
      "except-parens"
    ],
    "eqeqeq": "off",
    "no-eq-null": "error",
    "new-cap": "off",
    "no-undef": "error",
    "no-unused-vars": "error",
    "no-unused-expressions": "error",
    "no-eval": "error",
    "comma-style": [
      "error",
      "last"
    ],
    "dot-notation": "off",
    "valid-jsdoc": "error",
    "no-global-getComputedStyle": "error",
    "jsdoc/check-tag-names": 1,
    "jsdoc/check-types": 1,
    "jsdoc/newline-after-description": 1,
    "jsdoc/require-hyphen-before-param-description": 1,
    "jsdoc/require-param": 1,
    "jsdoc/require-param-type": 1,
    "jsdoc/require-returns-type": 1
  }
}
