{
  "extends": ["eslint:recommended", "plugin:jsdoc/recommended"],
  "env": {
    "amd": true,
    "browser": true,
    "es6": true,
    "node": true,
    "mocha": true
  },
  "globals": {
    "DocumentTouch": true,
    "Modernizr": true,
    "requirejs": true,
    "expect": true,
    "$": true,
    "_": true
  },
  "plugins": [
    "jsdoc"
  ],
  "rules": {
    "getter-return": ["error", { "allowImplicit": true }],
    "jsdoc/check-tag-names": ["error", { "definedTags": ["memberOf", "optionName", "optionProp"] }],
    "jsdoc/require-jsdoc": "off",
    "no-empty": "off",
    "no-prototype-builtins": "off",
    "no-restricted-syntax": ["error",
      {
        "selector": "CallExpression[callee.object.name='window'][callee.property.name='getComputedStyle']",
        "message": "Do not use `getComputedStyle`, import and use the `computedStyle` helper"
      }
    ],
    "no-useless-escape": "off"
  }
}
