/dist
/gh-pages
/node_modules
/test/coverage
/test/test-build.js
/test/*.html
modernizr.js
metadata.json
.DS_Store
.idea
.project
*.log
tmp
/.nyc_output
lib/_build.js	
lib/buildConfig.js	
lib/generateBanner.js	
lib/metadataStatic.js
