doctype html
html
  head
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    title Cow tests
    link(rel='stylesheet', media='all', href='../node_modules/mocha/mocha.css')
  body
    #mocha
    #messages
    #fixtures
    script(src='../node_modules/jquery/dist/jquery.js')
    script(src='../node_modules/sinon/pkg/sinon.js')
    script(src='../node_modules/mocha/mocha.js')
    script(src='../node_modules/chai/chai.js')
    script.
      // return iife versions of (potentially es6) functions
      var makeIIFE = function(config) {
        return $.ajax({
          type: "POST",
          url: '/iifeGen',
          data: JSON.stringify(config),
          contentType: 'application/json; charset=utf-8',
          async: false
        }).responseText
      }

    script.
      var expect = chai.expect;
    script.
      mocha.setup('bdd').timeout(20000);
    each test in browserTests
      script(src='../'+test)
    script(src="../test/browser/setup.js")
